@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body {
  font-family: 'Roboto';
  overflow-x: hidden;
  @apply text-secondary;
}
p{
  @apply mb-4;
}
.animate {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition:    all .2s ease-in-out;
  -o-transition:      all .2s ease-in-out;
  -ms-transition:     all .2s ease-in-out;
  transition:         all .2s ease-in-out;
}
.shadowTitleSecondary{
  text-shadow: 3px 3px #fee7ba;
}




/* .m-auto {
    margin: auto;
  }
  
  .h-full {
    height: 100%;
  }
  
  .max-w-6xl {
    max-width: 72rem;
  }
  
  .px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
   @media (min-width: 640px) {
    .sm\:px-0 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  
  @media (min-width: 768px) {
    .md\:px-0 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  
  
  
  */

.container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    max-width: 72rem;
    height: 100%;
    margin: auto;
    width: 100%;
  }
  
  @media (min-width: 640px) {
    .container {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      padding-left: 0px;
      padding-right: 0px;
    }
  }